body {
    text-align: center;
}
button {
    padding: 2px 5px;
}
h2 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
table {
    margin: auto;
    border-collapse: collapse;
}
table, td, tr, th {
    border: solid;
}
th{
    padding: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
tr, td {
    padding: 8px;
}
a:active, a:link, a:visited, a:hover {
    text-decoration: none;
}
#a, #d, #approve, #decline {
    color: black;
}
#decline{
    background-color: #b84f4f;
}
#approve {
    background-color: #5cb85c;
}
#note {
    text-align: left;
}
#note ul {
    list-style-type: none;
}
.member_note {
    padding-left: 18em;
}
#members ul{
    position: absolute;
    left: 50em;
    overflow: hidden;
    list-style-type: none;
}
#members button, #approve1, #decline1 {
    background-color: rgb(145, 150, 151);
}
#members li {
    padding: 4px;
    float: left;
}
#members li a {
    color: black;
    display: inline;
    padding: 5px 5px;
}
