body {
    text-align: center;
}
button {
    padding: 2px 5px;
}
button:hover {
    font-size: 14.5px;
    box-shadow: 0 1px 2px 0;
}
h2 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
table {
    margin: auto;
    border-collapse: collapse;
}
table, td, tr, th {
    border: solid;
}
th{
    padding: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
tr, td {
    padding: 8px;
}
a:active, a:link, a:visited, a:hover {
    text-decoration: none;
}
#register {
    padding: 6px 8px;
    position: absolute;
    left: 350px;
    background-color: rgba(47, 10, 90, 0.911);
}
#r {
    color: rgb(136, 199, 209);
    text-shadow:  1px 0.8px 2px rgba(255, 153, 0, 0.842);
}
#delete, #update {
    background-color: rgba(31, 105, 31, 0.637);
}
#d, #u {
    color: black;
}