body {
    text-align: center;
    padding: 130px 200px;
}
h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
form {
    border: solid;
    padding: 50px;
    margin: 15px 80px;
}
label {
    position: absolute;
    right: 690px;
}
input[type=text], input[type=email], input[type=number], input[type=tel] {
    position: absolute;
    left: 590px;
}
span {
    color: red;
    position: absolute;
    left: 770px;
}
button {
    cursor: pointer;
}
a:active, a:link, a:visited, a:hover {
    color: black;
    text-decoration: none;
}