body {
    text-align: center;
}
button {
    position: absolute;
    left: 315px;
    border: none;
    background-color: rgba(93, 95, 97, 0.788);
    padding: 5px 10px;
}
h2 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
table {
    margin: auto;
    border-collapse: collapse;
}
table, td, tr, th {
    border: solid;
}
th{
    padding: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
tr, td {
    padding: 8px;
}
a:active, a:link, a:visited, a:hover {
    text-decoration: none;
    color: black;
}