body {
    text-align: center;
}
label {
    position: absolute;
    right: 700px;
}
input[type=text], input[type=email], input[type=date] {
    position: absolute;
    left: 590px;
}
a:active, a:link, a:visited, a:hover {
    color: black;
    text-decoration: none;
}
span {
    position: absolute;
    left: 770px;
    color: red;
}